EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyAq0J6Xg5KDERXKF_99UNzdFlnkldehiJ8
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=homeoremedica-dev.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=homeoremedica-dev
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=homeoremedica-dev.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=573614058108
EXPO_PUBLIC_FIREBASE_APP_ID_ANDROID=1:573614058108:android:391526c3ba3e1e1cd7f7f9
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=
EXPO_PUBLIC_API_URL=https://homeoremedica-web-dev--homeoremedica-dev.us-central1.hosted.app/api
